<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}AidAlley{% endblock %}</title>
        <link rel="icon" href="../static/images/icon.png?{{ cache_id }}" />
        <!-- CSS -->
        <link rel="stylesheet" href="../static/styles/common.css?{{ cache_id }}"/>
        <link rel="stylesheet" href="../static/styles/header-footer.css?{{ cache_id }}"/>
        <link rel="stylesheet" href="../static/styles/flashes.css?{{ cache_id }}"/>
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <header class="main-header">
            <div class="header-container">
                <div class="logo-title">
                    <a href="/" class="logo-link">
                        <div class="logo"></div>
                    </a>
                    <h1 class="site-title">AidAlley</h1>
                </div>
                <nav class="navigation">
                    {% if session.logged_in %}
                        <a class="nav-link" href="/user_profile">Dashboard</a>
                        <a class="nav-link" href="/logout">Log Out</a>
                    {% else %}
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/create-account">Create Account</a>
                    {% endif %}
                </nav>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="main-footer">
            <div class="social-media-links">
                <a class="social-link facebook-link" href="#" ></a>
                <a class="social-link twitter-link" href="#" ></a>
                <a class="social-link instagram-link" href="#" ></a>
                <a class="social-link youtube-link" href="#" ></a>
            </div>
        </footer>

        <!-- Flash messages block -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                            <button class="close-flash">&times;</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="../static/scripts/scripts.js?{{ cache_id }}" defer></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>