{% extends "base.html" %}

{% block title %}Dashboard | AidAlley{% endblock %}
    
{% block extra_css %}
{% endblock %}
    
{% block content %}
    <section class="dashboard-section">
        <div class="dashboard-container">
            <div class="my-events-section">
                <div class="events-header">
                    <h2>my upcoming Events</h2>
                </div>
                <div class="events-grid">
                    {% for event in events %}
                        <div class="event-item">
                            <h3>{{ event.title }}</h3>
                            <p><strong>Date:</strong> {{ event.date }}</p>
                            <p><strong>Time:</strong> {{ event.time }}</p>
                            <p><strong>Location:</strong> {{ event.location }}</p>
                            <p><strong>Description:</strong> {{ event.description }}</p>
                            <div class="manage-event-buttons">
                                <a class="manage-event-button" href="">Manage Event</a>
                                <a class="log-hours-button" href="">Log Volunteer Hours</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="load-more">
                    <button class="load-more-button">Load More</button>
                </div>
            </div>
            <div class="log-hours-section">
                <div class="log-hours-header">
                    <h2>Log Volunteer Hours</h2>
                </div>
            </div>
            <div class="verify-section">
                <div class="verify-section-header">
                    <h2>Verify Volunteer Hours</h2>
                </div>
            </div>
            <div class="volunteer-registration-section">
                <div class="volunteer-registration-header">
                    <h2>Verify Volunteer registration</h2>
                </div>
            </div>
        </div>
    </section>        
{% endblock %}
    
{% block extra_js %}
{% endblock %}