{% extends "base.html" %}

{% block title %}{{ event.title }} | AidAlley{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../static/styles/event-details.css?{{ cache_id }}"/>
{% endblock %}

{% block content %}
    <section class="event-detail-section">
        <div class="event-detail">
            <div class="events-header">
                <h2>{{ event.title }}</h2>
            </div>
            <div class="event-info">
                <p><strong>Date:</strong> {{ event_date }}</p>
                <p><strong>Time:</strong> {{ event_time }}</p>
                <p><strong>Location:</strong> {{ event.location }}</p>
            </div>
            <div class="event-description">
                <h3>Description</h3>
                <p>{{ event.description }}</p>
            </div>
            <div class="event-buttons">
                <a class="event-register-button" href="/register/{{ event.id }}">Register for this Event</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
{% endblock %}