{% extends "base.html" %}

{% block title %}AidAlley{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="../static/styles/homepage.css?{{ cache_id }}"/>
{% endblock %}

{% block content %}
    <section class="hero-section">
        <div class="hero-content">
            <h1>Welcome to AidAlley!</h1>
            <p>Connecting Hearts, Coordinating Hands</p>
            <a class="hero-button" href="/learn-more">Learn More</a>
            <a class="hero-button" href="/events">View Events</a>
        </div>
    </section>

    <section class="upcoming-events-section">
        <div class="events-header">
            <div class="events-logo"></div>
            <h2>Upcoming Events</h2>
        </div>
        <div class="events-grid">
            {% for event in events %}
                <div class="event-item">
                    <h3>{{ event.title }}</h3>
                    <p><strong>Date:</strong> {{ event.date }}</p>
                    <p><strong>Time:</strong> {{ event.time }}</p>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <a class="event-link-button" href="/events/{{ event.id }}">More Info</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block extra_js %}
{% endblock %}