{% extends "base.html" %}

{% block title %}Dashboard | AidAlley{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <section class="dashboard-section">
        <div class="dashboard-container">
            <div class="my-events-section">
                <div class="events-header">
                    <h2>my upcoming Events</h2>
                </div>
                <div class="events-grid">
                    {% for event in events %}
                        <div class="event-item">
                            <h3>{{ event.title }}</h3>
                            <p><strong>Date:</strong> {{ event.date }}</p>
                            <p><strong>Time:</strong> {{ event.time }}</p>
                            <p><strong>Location:</strong> {{ event.location }}</p>
                            <p><strong>Description:</strong> {{ event.description }}</p>
                            <div class="event-buttons">
                                <a class="event-link-button" href="/events/{{ event.id }}">More Info</a>
                                <a class="event-register-button" href="/register/{{ event.id }}">unregister</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="load-more">
                    <button class="load-more-button">Load More</button>
                </div>
            </div>
            <div class="my-volunteer-section">
                <div class="volunteer-hours">
                    <h2>My Total Hours</h2>
                </div>
                <div class="">
                    <h2>My Events Manager</h2>
                </div>
            </div>
            <div class="notification-section">
                <div class="notification-header">
                    <h2>Notifications</h2>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
{% endblock %}