/* Events Section */
.events-section {
    padding: 20px;
    background-color: #C5A378;
}
.events-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}
.events-header h2 {
    text-align: center;
    font-size: 2.0em;
    margin-bottom: 10px;
}

/* Events Grid */
.events-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;  /* Space between grid items */
}
.event-item {
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    width: 100%;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;  /* Column layout */
    justify-content: space-between;
}
.event-item h3 {
    font-size: 1.0em;
    margin-bottom: 10px;
}
.event-item p {
    font-size: 0.8em;
    margin-bottom: 5px;
}
.event-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.event-link-button,
.event-register-button {
    display: inline-block;
    background-color: #698474;
    color: #FFFFFF;  /* White text */
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}
.event-link-button:hover,
.event-register-button:hover {
    background-color: #9EB58E;
}

/* Load More Button */
.load-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.load-more-button {
    background-color: #698474;
    color: #FFFFFF;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-family: "Courier New", "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.load-more-button:hover {
    background-color: #9EB58E;
}


/* Media Queries for Responsiveness */

/* Tablets devices */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .events-grid {
        gap: 15px;  /* Smaller gap between items */
    }
    .event-item {
        width: 250px;  /* Adjust width for smaller screens */
    }
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
    .events-grid {
        gap: 10px;  /* Smaller gap between items */
    }
    .event-item {
        width: 200px;  /* Adjust width for smaller screens */
    }
}

/* Small mobile devices */
@media only screen and (max-width: 400px) {
    .events-grid {
        flex-direction: column;  /* Stack items vertically */
        align-items: center;  /* Center items */
    }
    .event-item {
        width: 90%;  /* Adjust width for smaller screens */
        margin-bottom: 20px;  /* Space between stacked items */
    }
}

