/* homepage styles */

/* Hero Content */
.hero-section {
    display: flex;
    justify-content: center;     /* Center content horizontally */
    align-items: center;         /* Center content vertically */
    text-align: center;          /* Center text */
    width: 100%;                 /* Take full width */
    height: 75vh;                /* Take up 75% the viewport height */
    background: url("../images/hero-bg.jpg") no-repeat center 25%;
    background-size: cover;      /* Cover the entire section */
    color: #FFFFFF;
    padding: 20px;               /* Padding for inner spacing */
}
.hero-content {
    background-color: rgba(0, 0, 0, 0.3);  /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;            /* Rounded corners */
}
.hero-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
.hero-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.hero-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;              /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-family: "Courier New", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}
.hero-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Upcoming Events Section */
.upcoming-events-section {
    padding: 20px 20px;  /* Padding around the section */
    background-color: #EEEEEE;  /* Light background color */
}
.events-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;  /* Space below the header */
    border-bottom: 1px solid #CCCCCC;
}
.events-logo {
    background: url("../images/upcoming-events.png") no-repeat center center;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.events-header h2 {
    font-size: 1.7em;  /* Larger font size for the title */
}
/* Events Grid */
.events-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;  /* Space between grid items */
}
.event-item {
    background-color: #E7D4B5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;  /* Column layout */
    justify-content: space-between;
}
.event-item h3 {
    font-size: 1.0em;
    margin-bottom: 10px;
}
.event-item p {
    font-size: 0.8em;
    margin-bottom: 5px;
}
.event-link-button {
    display: inline-block;
    background-color: #698474;
    color: #FFFFFF;  /* White text */
    padding: 10px 20px;
    border-radius: 5px;  /* Rounded corners */
    transition: background-color 0.3s ease;  /* Smooth transition for hover effect */
}
.event-link-button:hover {
    background-color: #B6C7AA;  /* Darker blue on hover */
}


/* Media Queries for Responsiveness */

/* Tablets devices */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .hero-content h1 {
        font-size: 2.5em;
    }
    .hero-content p {
        font-size: 1.2em;
    }
    .hero-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    .events-grid {
        gap: 15px;  /* Smaller gap between items */
    }
    .event-item {
        width: 250px;  /* Adjust width for smaller screens */
    }
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
    .hero-content h1 {
        font-size: 2em;
    }y
    .hero-content p {
        font-size: 1em;
    }
    .hero-button {
        font-size: 0.8em;
        padding: 6px 12px;
    }

    .events-grid {
        gap: 10px;  /* Smaller gap between items */
    }
    .event-item {
        width: 200px;  /* Adjust width for smaller screens */
    }
}

/* Small mobile devices */
@media only screen and (max-width: 400px) {
    .hero-content {
        padding: 10px;
    }
    .hero-content h1 {
        font-size: 1.5em;
    }
    .hero-content p {
        font-size: 0.8em;
    }
    .hero-button {
        font-size: 0.7em;
        padding: 5px 10px;
    }

    .events-grid {
        flex-direction: column;  /* Stack items vertically */
        align-items: center;  /* Center items */
    }
    .event-item {
        width: 90%;  /* Adjust width for smaller screens */
        margin-bottom: 20px;  /* Space between stacked items */
    }
}
